* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f4;
    font-family: Asap, sans-serif;
}

header {
    padding: 20px;
    text-align: center;
    padding: 20px;
}

header>h1 {
    font-size: 48px;
}

header>h2 {
    font-size: 22px;
}

header>img {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 30%;
}

.scoreboard {
    background-color: #ffffff;
    border: 3px solid black;
    width: 200px;
    margin: 10px auto;
    text-align: center;
    font-size: 46px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}

.score-box {
    font-size: 16px;
    padding: 2px 10px;
    color: #ffffff;
}

#wins {
    background-color: #004225;
    position: absolute;
    /* Absolute sets it in position to the parent=score-board*/
    top: 8px;
    left: -25px;
}

#losses {
    background-color: #FF2800;
    position: absolute;
    /* Absolute sets it in position to the parent=score-board*/
    top: 8px;
    right: -30px;
}

.game-box {
    text-align: center;
    margin: 5px;
    padding: 20px;
    font-size: 1.5em;
    line-height: 42px;
}

.guesscount-box {
    padding: 5px;
    text-align: center;
    /* centers*/
    margin: 0 auto;
    width: 200px;
    background-color: black;
    color: yellow;
    border-radius: 5px;
}

#incorrect-characters {
    color: red;
}

#correct-letters {
    color: #004225;
    font-size: 30px;
}